<H1> Data Science Tools and Ecosystem <H1/>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| RStudio           |
| Visual Studio Code|

<H3> Below are a few examples of evaluating arithmetic expressions in Python. <H3/>

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**objectives:**
- List popular languages for Data Science.
- Explain the steps of a typical data science methodology.
- Explore data using Python libraries like NumPy and Pandas.

## Author
Syed Izhan Ali